<%= form_with(model: estudiante, local: true) do |form| %>
  <% if estudiante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(estudiante.errors.count, "error") %> prohibited this estudiante from being saved:</h2>

      <ul>
      <% estudiante.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :estudiante_nombre %>
  </div>

  <div class="field">
    <%= form.label :carrera %>
    <%= form.text_area :carrera, id: :estudiante_carrera %>
  </div>

  <div class="field">
    <%= form.label :departamento %>
    <%= form.text_field :departamento, id: :estudiante_departamento %>
  </div>

  <div class="field">
    <%= form.label :semestre %>
    <%= form.text_field :semestre, id: :estudiante_semestre %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
